.footer-flex {
    display: flex;
    flex-wrap: wrap;
    padding-block: 3rem;
    justify-content: center;
    padding-inline: 3rem;
    gap: 2rem;
    line-height: 2.5;
}

h1 {
    color: rgb(4, 4, 74);
    text-align: center;
}

h2 {
    font-weight: 900;
}

p {
    color: rgb(117, 119, 121);
    font-weight: 700;
}

.bottom-links {
    width: 100%;
    background-color: rgb(4, 4, 74);
    color: #fff;
    padding: 1rem 4rem;
}

.bottom-links a {
    padding-inline: 1rem;
}